.game{
    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -1.875rem;
    }
    &__container_title{
        width: 100%;
        height: 6.25rem;
        display: flex;
        justify-content: center;
        align-items:flex-end;
    }
    &__btn_toast_rules{
        height: 6.25rem;
        //background-color: aqua;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    &__span_name{
        font-size: 3.125rem;
        //font-weight: 500;
        color: $colorGreen;
    }
    &__title{
        font-family: $fontFamilyVt323;
        font-size: 2.5rem;
        //font-weight: 500;
        color: $colorWhite;
        background-color: $colorBlue;
    }
    &__title_span{
        font-family: $fontFamilyVt323;
        font-size: 2.5rem;
        //font-weight: 500;
        color: $colorWhite;
        background-color: $colorBlue;
        height: 100px;
        //position: fixed;
        //top: -10px;
        //z-index: 999;
    }
    &__button_card{
        background-color: transparent;
        border: none;
        &:hover{
            background-color: $colorGreen;
        }
    }
    &__card_container{
        width: 18.75rem;
        height: 18.75rem;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }
    &__container_image{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    &__image{
        width: 15rem;
        height: 15.9375rem;
    }
    &__container_name{
        width: 18.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__name{
        font-family: $fontFamilyVt323;
        font-size: 1.25rem;
        //font-weight: 500;
        color: $colorRed;
    }
    &__container_image_questionBox{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__image_questionBox{
        width: 100%;
        height: 100%;
    }
    &__container_message_win{
        background-color: $colorGreen;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    &__message_win{
        color: $colorWhite;
        font-family: $fontFamilyVt323;
        font-size: 1.875rem;
    }
    &__message-point{
        font-family: $fontFamilyVt323;
        font-size: 3.75rem;
        color: $colorYellow;
    }
    &__container_btn-game{
        height: 6.25rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    &__btn-game{
        height: 2.1875rem;
        background-color:$colorWhite ;
        color: $colorGreen;
        border: none;
        text-decoration: none;
        border-radius: 2px;
        &:hover{
            background-color: $colorYellow;
            color: $colorWhite;
         }
    }
    &__message_win {
        opacity: 1;
        animation: blink 1s infinite alternate;
      }
      
      @keyframes blink {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
}
 // De 350px a 450px
@media screen and (min-width: 21.875rem) and (max-width: 28.125rem) {
    .game{
        &__container{
            display: flex;
            justify-content: center;
            align-items: center;
            &__message_win{
                width: 100%;
                height: 10rem;
                background-color: $colorGreen;
            }
        }
        &__message_win{
            font-size: 1rem;
        }
        &__message-point{
            font-size: 1rem;
        }
        &__container_title{
            width: 100%;
            height: 12.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__btn-game{
            width: 80%;
            font-size: 8px;
            font-weight: bold;
            //height: 30px;
            margin-bottom: 3.125rem;
        }
        &__span_name{
            font-size: 3.125rem;
            //font-weight: 500;
            color: $colorGreen;
        }
        &__title{
            font-family: $fontFamilyVt323;
            font-size: 1.5625rem;
            //font-weight: 500;
            color: $colorWhite;
            &_span{
                font-size: 1.5625rem;
            }
        }
        
        &__button_card{
            background-color: transparent;
            border: none;
            &:hover{
                background-color: $colorGreen;
            }
        }
        &__card_container{
            width: 7.5rem;
            height: 10rem;
            margin-top: 1.25rem;
            margin-bottom: 1.25rem;
        }
        &__container_image{
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__image{
            width: 6.25rem;
            height: 6.25rem;
        }
        &__container_name{
            width: 90%;
            height: 4.375rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__name{
            font-family: $fontFamilyVt323;
            font-size: 1rem;
            //font-weight: 500;
            color: $colorRed;
        }
        &__container_image_questionBox{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        &__image_questionBox{
            width: 100%;
            background-color: $colorYellow;
        }
    }
}
  // De 450px a 750px
@media screen and (min-width: 28.125rem) and (max-width: 46.875rem) {

    .game{
        &__container{
            display: flex;
            justify-content: center;
            align-items: center;
            &__message_win{
                width: 100%;
                height: 11.25rem;
                background-color: $colorGreen;
            }
        }
        &__message_win{
            font-size: 1.125rem;
        }
        &__message-point{
            font-size: 1.125rem;
        }
        &__btn-game{
            width: 80%;
            font-size: 0.75rem;
            height: 2.5rem;
            margin-bottom: 10px;
        }
        &__container_title{
            width: 100%;
            height: 9.375rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__title_span{
            font-size: 1.5625rem;
        }
        &__span_name{
            font-size: 3.125rem;
            //font-weight: 500;
            color: $colorGreen;
        }
        &__title{
            font-family: $fontFamilyVt323;
            font-size: 1.875rem;
            //font-weight: 500;
            color: $colorWhite;
        }
        &__button_card{
            background-color: transparent;
            border: none;
            &:hover{
                background-color: $colorGreen;
            }
        }
        &__card_container{
            width: 10rem;
            height: 12.5rem;
        }
        &__container_image{
            //width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__image{
            width: 8.125rem;
            height: 8.125rem;
        }
        &__container_name{
            width: 10rem;
            height: 3.125rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__name{
            font-family: $fontFamilyVt323;
            font-size: 1.25rem;
            //font-weight: 500;
            color: $colorRed;
        }
        &__container_image_questionBox{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__image_questionBox{
            width: 100%;
            height: 100%;
        }
    }
}
// De 750px a 1000px
@media screen and (min-width: 46.875rem) and (max-width: 62.5rem) {

    .game{
        &__container{
            display: flex;
            justify-content: center;
            align-items: center;
            &__message_win{
                width: 100%;
                height: 11.25rem;
                background-color: $colorGreen;
            }
        }
        &__message_win{
            font-size: 1.125rem;
        }
        &__message-point{
            font-size: 1.125rem;
        }
        &__btn-game{
            width: 80%;
            font-size: 0.75rem;
            height: 2.5rem;
            margin-bottom: 0.625rem;
        }
        &__container_title{
            width: 100%;
            height: 8.125rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__span_name{
            font-size: 3.125rem;
            //font-weight: 500;
            color: $colorGreen;
        }
        &__title{
            font-family: $fontFamilyVt323;
            font-size: 1.875rem;
            //font-weight: 500;
            color: $colorWhite;
        }
        &__button_card{
            background-color: transparent;
            border: none;
            &:hover{
                background-color: $colorGreen;
            }
        }
        &__card_container{
            width: 12.5rem;
            height: 12.5rem;
        }
        &__container_image{
            //width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__image{
            width: 8.125rem;
            height: 8.125rem;
        }
        &__container_name{
            width: 12.5rem;
            height: 3.125rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__name{
            font-family: $fontFamilyVt323;
            font-size: 1.25rem;
            //font-weight: 500;
            color: $colorRed;
        }
        &__container_image_questionBox{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__image_questionBox{
            width: 100%;
            height: 100%;
        }
    }
}