.game-preguntados-card{
    &__container{
        
        &__general{
            height: 550px;
            margin: 20px;
           
        }
        &__card{
            width: 500px;
        }
        &__image{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__title{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__text{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__btn{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__content{
            text-align: center;
        }
        &__btn-changeCard1{
            display: inline-block;
            justify-content: flex-start;
            width: 50%
        }
        &__btn-changeCard2{
            display: inline-block;
            justify-content: flex-end;
            width: 50%
        }
        &__btn-next-previous{
            background-color: $colorWhite;
            height: 55px;
            border-radius: 5px;
            //margin-top: 10px;
            display: flex;
            justify-content:center;
            align-items: center;
            width: 500px;
        }
    }
    &__image{
        width: 150px;
    }
    &__title{
        text-transform: uppercase;
        font-family: $fontFamilyMonospace;
        font-weight: bold;
    }
    &__text{
        text-transform: uppercase;
        font-family: $fontFamilyMonospace;
        font-size: 14px;
    }
    &__btn{
        &__answer1{
            background-color: $colorYellow;
            border: none;
            color: black;
            text-transform: uppercase;
            &:hover{
                background-color: black;
                color: $colorYellow;
            }
        }
        &__answer2{
            background-color: $colorGreen;
            border: none;
            color: $colorWhite;
            text-transform: uppercase;
            &:hover{
                background-color: $colorWhite;
                color: $colorGreen;
            }
        }
        &__answer3{
            background-color: $colorRed;
            border: none;
            color: $colorWhite;
            text-transform: uppercase;
            &:hover{
                background-color: $colorWhite;
                color: $colorRed;
            }
        }
        
        &__next{
            font-family: $fontFamilyMonospace;
            font-size: 14px;
            font-weight: bold;
            background-color: $colorWhite;
            border: none;
            color: $colorBlue;
            text-transform: uppercase;
            &:hover{
                background-color: $colorWhite;
                color: black;
            }
        }
        &__previous{
            font-family: $fontFamilyMonospace;
            font-size: 14px;
            font-weight: bold;
            background-color: $colorWhite;
            border: none;
            color: $colorBlue;
            text-transform: uppercase;
            &:hover{
                background-color: $colorWhite;
                color: black;
            }
        }
    }
    
}