.game-preguntados-card{
    &__container{
        &__general{
            width: 490px;
            height: 390px;
            margin: 30px;
        }
        &__card{
            width: 500px;
            margin-left: 10px;
        }
        &__image{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__title{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__text{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__btn{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__content{
            text-align: center;
        }
        &__btn-changeCard1{
            display: inline-block;
            justify-content: flex-start;
            width: 50%
        }
        &__btn-changeCard2{
            display: inline-block;
            justify-content: flex-end;
            width: 50%
        }
        &__btn-next-previous{
            background-color: $colorWhite;
            height: 55px;
            border-radius: 5px;
            margin-left: 65px;
            display: flex;
            justify-content:center;
            align-items: center;
            width: 500px;
        }
        &__buttons{
            display: flex;
            width: 50%;
            height: 100px;
        }
        &__number-questions{
            height: 80px;
            display: flex;
            justify-content:center;
            align-items: center;
        }
        &__btn_renew-game{
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
    }
    &__number-questions{
        color: $colorWhite;
        font-family: $fontFamilyMonospace;
        font-size: 18px;
        font-weight: bold;
    }
    &__column{
        margin-left: -50px;
    }
    &__image{
        width: 150px;
    }
    &__title{
        text-transform: uppercase;
        font-family: $fontFamilyMonospace;
        font-weight: bold;
    }
    &__text{
        text-transform: uppercase;
        font-family: $fontFamilyMonospace;
        font-size: 14px;
    }
    
    &__btn{
        &__answer{
            background-color: $colorYellow;
            border: none;
            color: black;
            text-transform: uppercase;
            &:hover{
                background-color: black;
                color: $colorYellow;
            }
        }
        &__renew-game{
            height: 35px;
            background-color:$colorWhite ;
            color: $colorGreen;
            border: none;
            text-decoration: none;
            border-radius: 5px;
            &:hover{
                background-color: $colorYellow;
                color: $colorWhite;
             }
        }
        &__next{
            font-family: $fontFamilyMonospace;
            font-size: 14px;
            font-weight: bold;
            background-color: $colorWhite;
            border: none;
            color: $colorBlue;
            text-transform: uppercase;
            &:hover{
                background-color: $colorWhite;
                color: black;
            }
        }
        &__previous{
            font-family: $fontFamilyMonospace;
            font-size: 14px;
            font-weight: bold;
            background-color: $colorWhite;
            border: none;
            color: $colorBlue;
            text-transform: uppercase;
            &:hover{
                background-color: $colorWhite;
                color: black;
            }
        }
    }
    
}
.section-result-questions{
    &__container{
        &__result{
            flex-direction:column;
            width: 100%;
        }
        &__text{
            width: 100%;
           
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
        }
        &__image{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 400px;
        }
    }
    &__text{
        color: $colorWhite;
        font-family: $fontFamilyMonospace;
        font-size: 18px;
        font-weight: bold;
    }
    &__image{
        width: 200px;
    }
}

@media screen and (min-width: 350px) and (max-width: 600px) {
    .game-preguntados-card{
        &__container{
            &__general{
                width: 100%;
                height: auto;
                margin-left: 0; /* Esto elimina el margen izquierdo si es necesario */
                margin-right: 0;
            }
            &__card{
                width: 100%;
                //margin-left: 10px;
                margin-left: 0; /* Esto elimina el margen izquierdo si es necesario */
                margin-right: 0;
            }
            &__image{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__title{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__text{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__btn{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 25px;
            }
            &__content{
                display: flex;
                justify-content: center;
                width: 100%;
                margin-left: 0; 
                margin-right: 0;
               
            }
            &__btn-changeCard1{
                width: 100%;
           
            }
            &__btn-changeCard2{
                width: 100%
            }
            &__btn-next-previous{
                background-color:$colorBlue;
                height: 70px;
                border-radius: 5px;
                width: 100%;
                margin-left: 0; 
                margin-right: 0;
            }
            &__buttons{
                display: flex;
               width: 100%;
                margin-left: 0; 
                margin-right: 0;
            }
            &__number-questions{
                height: 100px;
                display: flex;
                justify-content:center;
                align-items:center ;
                
            }
            &__btn_renew-game{
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
        }
        &__number-questions{
            color: $colorWhite;
            font-family: $fontFamilyMonospace;
            font-size: 18px;
            font-weight: bold;
        }
        &__column{
            margin-left: -50px;
        }
        &__image{
            width: 100px;
        }
        &__title{
            text-transform: uppercase;
            font-family: $fontFamilyMonospace;
            font-weight: bold;
            font-size: 14px;
        }
        &__text{
            text-transform: uppercase;
            font-family: $fontFamilyMonospace;
            font-size: 12px;
        }
        
        &__btn{
            &__answer{
                background-color: $colorYellow;
                border: none;
                color: black;
                text-transform: uppercase;
                &:hover{
                    background-color: black;
                    color: $colorYellow;
                }
            }
            &__renew-game{
                height: 35px;
                background-color:$colorWhite ;
                color: $colorGreen;
                border: none;
                text-decoration: none;
                border-radius: 5px;
                &:hover{
                    background-color: $colorYellow;
                    color: $colorWhite;
                 }
            }
            &__next{
                width: 90%;
                font-family: $fontFamilyMonospace;
                font-size: 10px;
                font-weight: bold;
                background-color: $colorWhite;
                border: none;
                color: $colorBlue;
                text-transform: uppercase;
                &:hover{
                    background-color: $colorWhite;
                    color: black;
                }
            }
            &__previous{
                width: 90%;
                font-family: $fontFamilyMonospace;
                font-size: 10px;
                font-weight: bold;
                background-color: $colorWhite;
                border: none;
                color: $colorBlue;
                text-transform: uppercase;
                &:hover{
                    background-color: $colorWhite;
                    color: black;
                }
            }
        }
        
    }
    .section-result-questions{
        &__container{
            &__result{
                flex-direction:column;
                width: 100%;
            }
            &__text{
                width: 100%;
               
                display: flex;
                justify-content: center;
                align-items: center;
                height: 80px;
            }
            &__image{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100px;
            }
        }
        &__text{
            color: $colorWhite;
            font-family: $fontFamilyMonospace;
            font-size: 18px;
            font-weight: bold;
        }
        &__image{
            width: 80px;
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .game-preguntados-card{
        &__container{
            &__general{
                width: 100%;
                height: auto;
                margin-left: 0; /* Esto elimina el margen izquierdo si es necesario */
                margin-right: 0;
            }
            &__card{
                width: 100%;
                margin-left: 0; /* Esto elimina el margen izquierdo si es necesario */
                margin-right: 0;
            }
            &__image{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__title{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__text{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__btn{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 25px;
            }
            &__content{
                display: flex;
                justify-content: center;
                width: 50%;
                margin-left: 0; 
                margin-right: 0;
            }
            &__btn-changeCard1{
                width: 100%;
           
            }
            &__btn-changeCard2{
                width: 100%
            }
            &__btn-next-previous{
                background-color:$colorBlue;
                height: 70px;
                border-radius: 5px;
                width: 100%;
                margin-left: 0; 
                margin-right: 0;
            }
            &__buttons{
                display: flex;
               width: 100%;
                margin-left: 0; 
                margin-right: 0;
            }
            &__number-questions{
                height: 100px;
                display: flex;
                justify-content:center;
                align-items:center ;
                
            }
            &__btn_renew-game{
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
        }
        &__number-questions{
            color: $colorWhite;
            font-family: $fontFamilyMonospace;
            font-size: 18px;
            font-weight: bold;
        }
        &__column{
            margin-left: -50px;
        }
        &__image{
            width: 100px;
        }
        &__title{
            text-transform: uppercase;
            font-family: $fontFamilyMonospace;
            font-weight: bold;
            font-size: 14px;
        }
        &__text{
            text-transform: uppercase;
            font-family: $fontFamilyMonospace;
            font-size: 12px;
        }
        
        &__btn{
            &__answer{
                background-color: $colorYellow;
                border: none;
                color: black;
                text-transform: uppercase;
                &:hover{
                    background-color: black;
                    color: $colorYellow;
                }
            }
            &__renew-game{
                height: 35px;
                background-color:$colorWhite ;
                color: $colorGreen;
                border: none;
                text-decoration: none;
                border-radius: 5px;
                &:hover{
                    background-color: $colorYellow;
                    color: $colorWhite;
                 }
            }
            &__next{
                width: 90%;
                font-family: $fontFamilyMonospace;
                font-size: 10px;
                font-weight: bold;
                background-color: $colorWhite;
                border: none;
                color: $colorBlue;
                text-transform: uppercase;
                &:hover{
                    background-color: $colorWhite;
                    color: black;
                }
            }
            &__previous{
                width: 90%;
                font-family: $fontFamilyMonospace;
                font-size: 10px;
                font-weight: bold;
                background-color: $colorWhite;
                border: none;
                color: $colorBlue;
                text-transform: uppercase;
                &:hover{
                    background-color: $colorWhite;
                    color: black;
                }
            }
        }
        
    }
    .section-result-questions{
        &__container{
            &__result{
                flex-direction:column;
                width: 100%;
            }
            &__text{
                width: 100%;
               
                display: flex;
                justify-content: center;
                align-items: center;
                height: 80px;
            }
            &__image{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 350px;
            }
        }
        &__text{
            color: $colorWhite;
            font-family: $fontFamilyMonospace;
            font-size: 18px;
            font-weight: bold;
        }
        &__image{
            width: 150px;
        }
    }
}