.game-preguntados-card{
    &__container{
        &__general{
            width: 30.625rem;
            height: 24.375rem;
            margin: 1.875rem;
        }
        &__presentation{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 250px;
        }
        &__card{
            width: 31.25rem;
            margin-left: 0.625rem;
        }
        &__image{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__title{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__text{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__btn{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__content{
            text-align: center;
        }
        &__btn-changeCard1{
            display: inline-block;
            justify-content: flex-start;
            width: 50%
        }
        &__btn-changeCard2{
            display: inline-block;
            justify-content: flex-end;
            width: 50%
        }
        &__btn-next-previous{
            background-color: $colorWhite;
            height: 3.4375rem;
            border-radius: 0.3125rem;
            margin-left: 4.0625rem;
            display: flex;
            justify-content:center;
            align-items: center;
            width: 31.25rem;
        }
        &__buttons{
            display: flex;
            width: 50%;
            height: 6.25rem;
        }
        &__number-questions{
            height: 5rem;
            display: flex;
            justify-content:center;
            align-items: center;
        }
        &__btn_renew-game{
            height: 1.875rem;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
    }
    &__presentation{
        font-family: $fontFamilyMonospace;
        color: $colorWhite;
        font-weight: bold;
        font-size: 1rem;
    }
    &__number-questions{
        color: $colorWhite;
        font-family: $fontFamilyMonospace;
        font-size: 1.125rem;
        font-weight: bold;
    }
    &__column{
        margin-left: -3.125rem;
    }
    &__image{
        width: 9.375rem;
    }
    &__title{
        text-transform: uppercase;
        font-family: $fontFamilyMonospace;
        font-weight: bold;
    }
    &__text{
        text-transform: uppercase;
        font-family: $fontFamilyMonospace;
        font-size: 0.875rem;
    }
    
    &__btn{
        &__answer{
            background-color: $colorYellow;
            border: none;
            color: black;
            text-transform: uppercase;
            &:hover{
                background-color: black;
                color: $colorYellow;
            }
        }
        &__renew-game{
            height: 2.1875rem;
            background-color:$colorWhite ;
            color: $colorGreen;
            border: none;
            text-decoration: none;
            border-radius: 0.3125rem;
            &:hover{
                background-color: $colorYellow;
                color: $colorWhite;
             }
        }
        &__next{
            font-family: $fontFamilyMonospace;
            font-size: 0.875rem;
            font-weight: bold;
            background-color: $colorWhite;
            border: none;
            color: $colorBlue;
            text-transform: uppercase;
            &:hover{
                background-color: $colorWhite;
                color: black;
            }
        }
        &__previous{
            font-family: $fontFamilyMonospace;
            font-size: 0.875rem;
            font-weight: bold;
            background-color: $colorWhite;
            border: none;
            color: $colorBlue;
            text-transform: uppercase;
            &:hover{
                background-color: $colorWhite;
                color: black;
            }
        }
    }
    
}
.section-result-questions{
    &__container{
        &__result{
            flex-direction:column;
            width: 100%;
        }
        &__text{
            width: 100%;
           
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5rem;
        }
        &__image{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25rem;
        }
    }
    &__text{
        color: $colorWhite;
        font-family: $fontFamilyMonospace;
        font-size: 1.125rem;
        font-weight: bold;
    }
    &__image{
        width: 12.5rem;
    }
}
 // De 350px a 450px
@media screen and (min-width: 21.875rem) and (max-width: 28.125rem) {
    .game-preguntados-card{
        &__container{
            &__general{
                width: 100%;
                height: auto;
                margin-left: 0; /* Esto elimina el margen izquierdo si es necesario */
                margin-right: 0;
            }
            &__presentation{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 250px;
            }
            &__card{
                width: 100%;
                //margin-left: 10px;
                margin-left: 0; /* Esto elimina el margen izquierdo si es necesario */
                margin-right: 0;
            }
            &__image{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__title{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__text{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__btn{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 1.5625rem;
            }
            &__content{
                display: flex;
                justify-content: center;
                width: 100%;
                margin-left: 0; 
                margin-right: 0;
               
            }
            &__btn-changeCard1{
                width: 100%;
           
            }
            &__btn-changeCard2{
                width: 100%
            }
            &__btn-next-previous{
                background-color:$colorBlue;
                height: 4.375rem;
                border-radius: 5px;
                width: 100%;
                margin-left: 0; 
                margin-right: 0;
            }
            &__buttons{
                display: flex;
               width: 100%;
                margin-left: 0; 
                margin-right: 0;
            }
            &__number-questions{
                height: 6.25rem;
                display: flex;
                justify-content:center;
                align-items:center ;
                
            }
            &__btn_renew-game{
                height: 1.875rem;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
        }
        &__presentation{
            font-family: $fontFamilyMonospace;
            color: $colorWhite;
            font-weight: bold;
            font-size: 13px;
        }
        &__number-questions{
            color: $colorWhite;
            font-family: $fontFamilyMonospace;
            font-size: 1.125rem;
            font-weight: bold;
        }
        &__column{
            margin-left: -3.125rem;
        }
        &__image{
            width: 6.25rem;
        }
        &__title{
            text-transform: uppercase;
            font-family: $fontFamilyMonospace;
            font-weight: bold;
            font-size: 0.875rem;
        }
        &__text{
            text-transform: uppercase;
            font-family: $fontFamilyMonospace;
            font-size: 0.75rem;
        }
        
        &__btn{
            &__answer{
                background-color: $colorYellow;
                border: none;
                color: black;
                text-transform: uppercase;
                &:hover{
                    background-color: black;
                    color: $colorYellow;
                }
            }
            &__renew-game{
                height: 2.1875rem;
                background-color:$colorWhite ;
                color: $colorGreen;
                border: none;
                text-decoration: none;
                border-radius: 0.3125rem;
                &:hover{
                    background-color: $colorYellow;
                    color: $colorWhite;
                 }
            }
            &__next{
                width: 90%;
                font-family: $fontFamilyMonospace;
                font-size: 0.625rem;
                font-weight: bold;
                background-color: $colorWhite;
                border: none;
                color: $colorBlue;
                text-transform: uppercase;
                &:hover{
                    background-color: $colorWhite;
                    color: black;
                }
            }
            &__previous{
                width: 90%;
                font-family: $fontFamilyMonospace;
                font-size: 0.625rem;
                font-weight: bold;
                background-color: $colorWhite;
                border: none;
                color: $colorBlue;
                text-transform: uppercase;
                &:hover{
                    background-color: $colorWhite;
                    color: black;
                }
            }
        }
        
    }
    .section-result-questions{
        &__container{
            &__result{
                flex-direction:column;
                width: 100%;
            }
            &__text{
                width: 100%;
               
                display: flex;
                justify-content: center;
                align-items: center;
                height: 5rem;
            }
            &__image{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 6.25rem;
            }
        }
        &__text{
            color: $colorWhite;
            font-family: $fontFamilyMonospace;
            font-size: 1.125rem;
            font-weight: bold;
        }
        &__image{
            width: 5rem;
        }
    }
}
  // De 450px a 750px
@media screen and (min-width: 28.125rem) and (max-width: 46.875rem) {
    .game-preguntados-card{
        &__container{
            &__general{
                width: 100%;
                height: auto;
                margin-left: 0; /* Esto elimina el margen izquierdo si es necesario */
                margin-right: 0;
            }
            &__presentation{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 250px;
            }
            &__card{
                width: 100%;
                margin-left: 0; /* Esto elimina el margen izquierdo si es necesario */
                margin-right: 0;
            }
            &__image{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__title{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__text{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__btn{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 1.5625rem;
            }
            &__content{
                display: flex;
                justify-content: center;
                width: 100%;
                margin-left: 0; 
                margin-right: 0;
            }
            &__btn-changeCard1{
                width: 100%;
           
            }
            &__btn-changeCard2{
                width: 100%
            }
            &__btn-next-previous{
                background-color:$colorBlue;
                height: 4.375rem;
                border-radius: 5px;
                width: 100%;
                margin-left: 0; 
                margin-right: 0;
            }
            &__buttons{
                display: flex;
               width: 100%;
                margin-left: 0; 
                margin-right: 0;
            }
            &__number-questions{
                height: 6.25rem;
                display: flex;
                justify-content:center;
                align-items:center ;
                
            }
            &__btn_renew-game{
                height: 1.875rem;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
            &__btn_reload{
                display: flex;
                justify-content:center;
                align-items:center ;
            }
        }
        &__presentation{
            font-family: $fontFamilyMonospace;
            color: $colorWhite;
            font-weight: bold;
            font-size: 15px;
        }
        &__number-questions{
            color: $colorWhite;
            font-family: $fontFamilyMonospace;
            font-size: 1.125rem;
            font-weight: bold;
        }
        &__column{
            margin-left: -3.125rem;
        }
        &__image{
            width: 6.25rem;
        }
        &__title{
            text-transform: uppercase;
            font-family: $fontFamilyMonospace;
            font-weight: bold;
            font-size: 0.875rem;
        }
        &__text{
            text-transform: uppercase;
            font-family: $fontFamilyMonospace;
            font-size: 0.75rem;
        }
        
        &__btn{
            &__answer{
                background-color: $colorYellow;
                border: none;
                color: black;
                text-transform: uppercase;
                &:hover{
                    background-color: black;
                    color: $colorYellow;
                }
            }
            &__renew-game{
                height: 2.1875rem;
                background-color:$colorWhite ;
                color: $colorGreen;
                border: none;
                text-decoration: none;
                border-radius: 0.3125rem;
                &:hover{
                    background-color: $colorYellow;
                    color: $colorWhite;
                 }
            }
            &__next{
                width: 90%;
                font-family: $fontFamilyMonospace;
                font-size: 0.625rem;
                font-weight: bold;
                background-color: $colorWhite;
                border: none;
                color: $colorBlue;
                text-transform: uppercase;
                &:hover{
                    background-color: $colorWhite;
                    color: black;
                }
            }
            &__previous{
                width: 90%;
                font-family: $fontFamilyMonospace;
                font-size: 0.625rem;
                font-weight: bold;
                background-color: $colorWhite;
                border: none;
                color: $colorBlue;
                text-transform: uppercase;
                &:hover{
                    background-color: $colorWhite;
                    color: black;
                }
            }
        }
        
    }
    .section-result-questions{
        &__container{
            &__result{
                flex-direction:column;
                width: 100%;

            }
            &__text{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 5rem;
            }
            &__image{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 3rem;
            }
        }
        &__text{
            color: $colorWhite;
            font-family: $fontFamilyMonospace;
            font-size: 1.125rem;
            font-weight: bold;
        }
        &__image{
            width: 2rem;
        }
    }
}
// De 750px a 1000px
@media screen and (min-width: 46.875rem) and (max-width: 62.5rem) {
    .game-preguntados-card{
        &__container{
            &__general{
                width: 100%;
                height: auto;
                margin-left: 0; /* Esto elimina el margen izquierdo si es necesario */
                margin-right: 0;
            }
            &__presentation{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 250px;
            }
            &__card{
                width: 100%;
                margin-left: 0; /* Esto elimina el margen izquierdo si es necesario */
                margin-right: 0;
            }
            &__image{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__title{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__text{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__btn{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 1.5625rem;
            }
            &__content{
                display: flex;
                justify-content: center;
                width: 50%;
                margin-left: 0; 
                margin-right: 0;
            }
            &__btn-changeCard1{
                width: 100%;
           
            }
            &__btn-changeCard2{
                width: 100%
            }
            &__btn-next-previous{
                background-color:$colorBlue;
                height: 4.375rem;
                border-radius: 5px;
                width: 100%;
                margin-left: 0; 
                margin-right: 0;
            }
            &__buttons{
                display: flex;
               width: 100%;
                margin-left: 0; 
                margin-right: 0;
            }
            &__number-questions{
                height: 6.25rem;
                display: flex;
                justify-content:center;
                align-items:center ;
                
            }
            &__btn_renew-game{
                height: 1.875rem;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
        }
        &__presentation{
            font-family: $fontFamilyMonospace;
            color: $colorWhite;
            font-weight: bold;
            font-size: 0.9375rem;
        }
        &__number-questions{
            color: $colorWhite;
            font-family: $fontFamilyMonospace;
            font-size: 1.125rem;
            font-weight: bold;
        }
        &__column{
            margin-left: -3.125rem;
        }
        &__image{
            width: 6.25rem;
        }
        &__title{
            text-transform: uppercase;
            font-family: $fontFamilyMonospace;
            font-weight: bold;
            font-size: 0.875rem;
        }
        &__text{
            text-transform: uppercase;
            font-family: $fontFamilyMonospace;
            font-size: 0.75rem;
        }
        
        &__btn{
            &__answer{
                background-color: $colorYellow;
                border: none;
                color: black;
                text-transform: uppercase;
                &:hover{
                    background-color: black;
                    color: $colorYellow;
                }
            }
            &__renew-game{
                height: 2.1875rem;
                background-color:$colorWhite ;
                color: $colorGreen;
                border: none;
                text-decoration: none;
                border-radius: 0.3125rem;
                &:hover{
                    background-color: $colorYellow;
                    color: $colorWhite;
                 }
            }
            &__next{
                width: 90%;
                font-family: $fontFamilyMonospace;
                font-size: 0.625rem;
                font-weight: bold;
                background-color: $colorWhite;
                border: none;
                color: $colorBlue;
                text-transform: uppercase;
                &:hover{
                    background-color: $colorWhite;
                    color: black;
                }
            }
            &__previous{
                width: 90%;
                font-family: $fontFamilyMonospace;
                font-size: 0.625rem;
                font-weight: bold;
                background-color: $colorWhite;
                border: none;
                color: $colorBlue;
                text-transform: uppercase;
                &:hover{
                    background-color: $colorWhite;
                    color: black;
                }
            }
        }
        
    }
    .section-result-questions{
        &__container{
            &__result{
                flex-direction:column;
                width: 100%;
            }
            &__text{
                width: 100%;
               
                display: flex;
                justify-content: center;
                align-items: center;
                height: 5rem;
            }
            &__image{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 21.875rem;
            }
        }
        &__text{
            color: $colorWhite;
            font-family: $fontFamilyMonospace;
            font-size: 1.125rem;
            font-weight: bold;
        }
        &__image{
            width: 9.375rem;
        }
    }
}