.home{
    background-color: $colorAzul;

    &__container_universal{
        //background-color: yellow;
        display: flex;
        justify-content: center;
}
    &__container_image{
        //background-color: aqua;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__container{
       // background-color: red;
        width: 50%;
    }

    &__image{
        width: 100%;
        height: auto; 
    }
    

    &__container_title{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
    }
    &__title{
        font-family: 'VT323', monospace;
        font-size: 80px;
        font-weight: 500;
        color: $colorFondo;
    }
    &__container_text{
        background-color: $colorFondo;
        //width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px solid $colorCeleste;
        border-radius: 130px 50px ;
        box-shadow: 0 0 10px 5px $colorCeleste;
        margin-top: 50px;
        height: 200px;
    }
    
    &__text{
        color: black;
        width: 85%;
        text-align: justify;
        word-break: break-word;
        font-family: monospace;
        font-size: 20px;
    }
    &__span_azul{
        color: $colorAzul;
        font-weight: 700;
    }
    &__span_amarillo{
        color: $colorAmarillo;
        font-weight: 700;
    }
    &__span_rojo{
        color: $colorRojo;
        font-weight: 700;
    }
    &__image_signo_pregunta{
        width: 40px;
    }
    &__container_button{
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__button{
        background-color: $colorAmarillo;
        border: none;
        height: 50px;
        font-family: monospace;
        font-size: 20px;
    }
    
    &__text_pregunta{
        font-family: monospace;
        font-size: 20px;
        color: $colorFondo;
    }
}

@keyframes slideInRight {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .home__title{
    animation: slideInRight 1s ease;
  }
  .carousel{
    &__container{
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    &__container_image{
       //width: 100%;
        
        background-color: red;
    }
    &__image{
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: center;
    }
    &__container_title{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title{
        font-family: 'VT323', monospace;
        font-size: 60px;
        font-weight: 500;
        color: $colorFondo;
    }
  }

@media screen and (max-width:412px){
    .home{
        &__container_image{
            width: 100%;
            height: 350px;
        }
        &__container_image_text{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__text_pregunta{
            font-family: monospace;
            font-size: 12px;
            margin-left: 25px;
        }
        &__image{
            width: 100px;
            height: 100px;
            
        }
        
        &__container_title{
            display: flex;
            //justify-content: flex-start;
            height: 50px;
        }
        &__title{
            font-family: 'VT323', monospace;
            font-size: 26px;
            font-weight: 400;
            color: $colorFondo;
        }
        &__container_text{
            background-color: $colorCeleste;
            width: 100%;
            height: 700px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            border-radius: 20px;
        }
        &__text{
            color: $colorFondo;
            width: 100%;
            text-align: justify;
            font-family: monospace;
            font-size: 12px;
        }
        &__span_azul{
            color: $colorAzul;
            font-weight: 700;
        }
        &__span_amarillo{
            color: $colorAmarillo;
            font-weight: 700;
        }
        &__span_rojo{
            color: $colorRojo;
            font-weight: 700;
        }
        &__image_signo_pregunta{
            width: 30px;
        }
        &__container_button{
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__button{
            background-color: $colorAmarillo;
            border: none;
            height: 50px;
            font-family: monospace;
            font-size: 12px;
        }
        
        
    }
}