.home{
    background-color: $colorBlue;

    &__container_universal{
        display: flex;
        justify-content: center;
}
    &__container_image{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__container{
        width: 50%;
    }
    &__image{
        width: 100%;
        height: auto; 
    }
    &__container_dialog{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &__container_title{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
    }
    &__title{
        font-family: $fontFamilyVt323;
        font-size: 80px;
        font-weight: 500;
        color: $colorWhite;
    }
    &__container_text{
        background-color: $colorWhite;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px solid $colorSkyBlue;
        border-radius: 130px 50px ;
        box-shadow: 0 0 10px 5px $colorSkyBlue;
        margin-top: 50px;
        height: 200px;
    }
    
    &__text{
        color: $colorBlack;
        width: 85%;
        text-align: justify;
        word-break: break-word;
        font-family: monospace;
        font-size: 20px;
    }
    &__span_azul{
        color: $colorBlue;
        font-weight: 700;
    }
    &__span_amarillo{
        color: $colorYellow;
        font-weight: 700;
    }
    &__span_rojo{
        color: $colorRed;
        font-weight: 700;
    }
    &__image_signo_pregunta{
        width: 40px;
    }
    &__container_button{
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__button{
        background-color: $colorYellow;
        border: none;
        height: 50px;
        font-family: $fontFamilyMonospace;
        font-size: 20px;
    }
    
    &__text_pregunta{
        font-family: $fontFamilyMonospace;
        font-size: 20px;
        color: $colorWhite;
    }
}

@keyframes slideInRight {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .home__title{
    animation: slideInRight 1s ease;
  }
  .carousel{
    &__container{
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    &__container_image{
        background-color: red;
    }
    &__image{
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: center;
    }
    &__container_title{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title{
        font-family: $fontFamilyVt323;
        font-size: 60px;
        font-weight: 500;
        color: $colorWhite;
    }
  }

@media screen and (max-width:412px){
    .home{
        background-color: $colorBlue;
        transition: margin-top 0.3s ease;
        &__container_universal{
            flex-direction: column;
        }
        &__container_image{
            width: 100%;
            height: 300px;
        }
        &__container_dialog{
            width: 100%;
            margin-top: 130px;
        }
        &__container_image_text{
            display:flex;
            justify-content: center;
            align-items: center;
        }
        &__text_pregunta{
            font-family: $fontFamilyMonospace;
            font-size: 16px;
            margin-left: 25px;
        }
        &__container_image_sonic{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
        }
        &__image{
            width: 130px;
            height: 130px;
        }
        &__container_title{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
        }
        &__title{
            font-family: $fontFamilyVt323;
            font-size: 26px;
            font-weight: 400;
            color: $colorWhite;
        }
        &__container_text{
            background-color: $colorSkyBlue;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 5px solid $colorSkyBlue;
            border-radius: 100px 50px ;
            box-shadow: 0 0 10px 5px $colorSkyBlue;
        }
        &__text{
            color: $colorWhite;
            width: 100%;
            text-align: justify;
            font-family: $fontFamilyMonospace;
            font-size: 16px;
        }
        &__span_azul{
            color: $colorBlue;
            font-weight: 700;
        }
        &__span_amarillo{
            color: $colorYellow;
            font-weight: 700;
        }
        &__span_rojo{
            color: $colorRed;
            font-weight: 700;
        }
        &__image_signo_pregunta{
            width: 30px;
        }
        &__container_button{
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__button{
            background-color: $colorYellow;
            border: none;
            height: 50px;
            font-family: $fontFamilyMonospace;
            font-size: 20px;
        }   
    }
    .carousel{
        &__container{
            display: flex;
            justify-content: center;
            align-items: center;
            //margin-bottom: 500px;
        }
        &__container_image{
            background-color: red;
            //height: 250px;
        }
        &__image{
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: center;
        }
        &__container_title{
            width: 100%;
            //height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__title{
            font-family: $fontFamilyVt323;
            font-size: 40px;
            font-weight: 500;
            color: $colorWhite;
        }
      }
}