.moods{
    &__container{
        &__card{
            width: 320px;
            margin-bottom: 30px;
            height: 400px;
            &:hover{
                background-color: $colorYellow;
            }
        }
        &__image{
            width: 100%;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__name{
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__nameEnglish{
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__name{
        font-family: $fontFamilyMonospace;
        font-size: 26px;
        color: $colorBlue;
        &:hover{
            color: $colorGreen;
        }
    }
    &__nameEnglish{
        font-family: $fontFamilyMonospace;
        font-size: 26px;
        color: $colorGreen;
        &:hover{
            color: $colorBlue;
        }
    }
    
}

.detailMoodsById{
    &__container{
        &__card{
            display: flex;
            height: auto;
            width: 90%;
        }
       &__image{
            flex: 0 0 50%;   
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                background-color: $colorGreen;
            }
       }
        &__name{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            background-color:  $colorGreen;
        }
        &__description{
            width: 90%;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__phrase1{
            width: 90%;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__phrase2{
            width: 90%;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__link{
            width: 90%;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__content{
        flex: 0 0 50%; 
        display: flex;
        flex-direction: column;
    }
    // &__image{
    //     width: 80%;
    // }
    &__name{
        font-family: $fontFamilyVt323;
        font-size: 50px;
        font-weight: 500;
        color: $colorWhite;
    }
    &__description{
        font-family: $fontFamilyMonospace;
        font-size: 20px;
    }
    &__phrase1{
        font-family: $fontFamilyMonospace;
        font-size: 16px;
        color: $colorGreen;
    }
    &__phrase2{
        font-family: $fontFamilyMonospace;
        font-size: 16px;
        color: $colorBlue;
    }
    &__link{
        font-family: $fontFamilyVt323;
        font-size: 30px;
        font-weight: 500;
        text-decoration: none;
        border: 1px solid $colorGreen;       
    }
    &__textLink{
        background-color: $colorWhite;
        color: $colorGreen;
        width: 100px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        text-transform: uppercase;
            &:hover{
                background-color: $colorGreen;
                color: $colorWhite;
        }
    }
}