.section-mood{
    &__container{
        &__title{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 12.5rem;
        }
        &__title_instruction{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 6.25rem;
        }
        &__img{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__title{
        font-family: $fontFamilyVt323;
        font-size: 3.125rem;
        color: $colorWhite;
    }
    &__title_instruction{
        font-family: $fontFamilyVt323;
        font-size: 1.875rem;
        color: $colorWhite;
    }
}

.moods{
    &__container{
        &__card{
            width: 20rem;
            margin-bottom: 1.875rem;
            height: 25rem;
            &:hover{
                background-color: $colorYellow;
            }
        }
        &__image{
            width: 100%;
            height: 18.75rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__name{
            width: 100%;
            height: 1.875rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__nameEnglish{
            width: 100%;
            height: 1.875rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__name{
        font-family: $fontFamilyMonospace;
        font-size: 1.625rem;
        color: $colorBlue;
        &:hover{
            color: $colorGreen;
        }
    }
    &__nameEnglish{
        font-family: $fontFamilyMonospace;
        font-size: 1.625rem;
        color: $colorGreen;
        &:hover{
            color: $colorBlue;
        }
    }
    
}

.detailMoodsById{
    &__container{
        &__card{
            display: flex;
            height: auto;
            width: 90%;
        }
       &__image{
            flex: 0 0 50%;   
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                background-color: $colorGreen;
            }
       }
        &__name{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            background-color:  $colorGreen;
        }
        &__description{
            width: 90%;
            height: 12.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__phrase1{
            width: 90%;
            height: 6.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__phrase2{
            width: 90%;
            height: 6.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__link{
            width: 90%;
            height: 6.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__content{
        flex: 0 0 50%; 
        display: flex;
        flex-direction: column;
    }
    &__name{
        font-family: $fontFamilyVt323;
        font-size: 50px;
        font-weight: 500;
        color: $colorWhite;
    }
    &__description{
        font-family: $fontFamilyMonospace;
        font-size: 1.25rem;
    }
    &__phrase1{
        font-family: $fontFamilyMonospace;
        font-size: 1rem;
        color: $colorGreen;
    }
    &__phrase2{
        font-family: $fontFamilyMonospace;
        font-size: 16px;
        color: $colorBlue;
    }
    &__link{
        font-family: $fontFamilyVt323;
        font-size: 1.875rem;
        font-weight: 500;
        text-decoration: none;
        border: 1px solid $colorGreen;       
    }
    &__textLink{
        background-color: $colorWhite;
        color: $colorGreen;
        width: 6.25rem;
        height: 3.125rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        text-transform: uppercase;
            &:hover{
                background-color: $colorGreen;
                color: $colorWhite;
        }
    }
}

.toast-moods{
    &__title{
        font-family: $fontFamilyMonospace;
        font-size: 1.5rem;
        color: $colorGreen;
    }
    &__text{
        font-family: $fontFamilyMonospace;
        font-size: 0.875rem;
        text-transform: uppercase;   
    }
    &__rule-name{
        color: $colorBlue;
        font-size: 1.375rem;
        font-weight: 500;
    }
    &__btn{
        background-color: $colorGreen;
        color: $colorWhite;
        border: none;
        &:hover{
            background-color: $colorWhite;
            color: $colorGreen;
        }
    }
    &__container{
        &__img{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__img{
        width: 7.5rem;
    }
}

 // De 350px a 450px
@media screen and (min-width: 21.875rem) and (max-width: 28.125rem) {
    .section-mood{
        &__container{
            &__title{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 12.5rem;
            }
            &__title_instruction{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 12.5rem;
            }
            &__img{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &__title{
            font-family: $fontFamilyVt323;
            font-size: 1.875rem;
            color: $colorWhite;
        }
        &__title_instruction{
            font-family: $fontFamilyVt323;
            font-size: 1.25rem;
            color: $colorWhite;
        }
    }
    
    .moods{
        &__container{
            &__card{
                //width: 100%;
                height: 25rem;
                &:hover{
                    background-color: $colorYellow;
                }
            }
            &__image{
                width: 100%;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__name{
                width: 100%;
                height: 1.875rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__nameEnglish{
                width: 100%;
                height: 1.875rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    
        &__name{
            font-family: $fontFamilyMonospace;
            font-size: 1.625rem;
            color: $colorBlue;
            &:hover{
                color: $colorGreen;
            }
        }
        &__nameEnglish{
            font-family: $fontFamilyMonospace;
            font-size: 1.625rem;
            color: $colorGreen;
            &:hover{
                color: $colorBlue;
            }
        }
        
    }
    
    .detailMoodsById{
        &__container{
            &__card{
                display: flex;
                align-items: center;
                justify-content: center;
                //height: 500px;
                width: 100%;
            }
            &__row{
                flex-direction: column;
            }
           &__image{
                //flex: 0 0 50%;   
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    background-color: $colorGreen;
                }
           }
            &__name{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
                background-color:  $colorWhite;
                
            }
            &__description{
                width: 90%;
                margin-left: 1.25rem;
                margin-top: 0.9375rem;
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
            }
            &__phrase1{
                width: 90%;
                margin-top: 0.9375rem;
                margin-left: 1.25rem;
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
            }
            &__phrase2{
                width: 90%;
                margin-top: 0.9375rem;
                margin-left: 1.25rem;
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
            }
            &__link{
                width: 100%;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &__image{
            width: 12.5rem;
            height: 12.5rem;
        }
        &__content{
            //flex: 0 0 50%; 
            display: flex;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            //flex-direction: column;
        }
        &__name{
            font-family: $fontFamilyVt323;
            font-size: 3.125rem;
            font-weight: 500;
            color: $colorGreen;
        }
        &__description{
            font-family: $fontFamilyMonospace;
            font-size: 1rem;
        }
        &__phrase1{
            font-family: $fontFamilyMonospace;
            font-size: 0.875rem;
            color: $colorGreen;
        }
        &__phrase2{
            font-family: $fontFamilyMonospace;
            font-size: 0.875rem;
            color: $colorBlue;
        }
        &__link{
            font-family: $fontFamilyVt323;
            font-size: 1.875rem;
            font-weight: 500;
            text-decoration: none;
            border: 1px solid $colorGreen;       
        }
        &__textLink{
            background-color: $colorWhite;
            color: $colorGreen;
            width: 6.25rem;
            height: 3.125rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            text-transform: uppercase;
                &:hover{
                    background-color: $colorGreen;
                    color: $colorWhite;
            }
        }
    }
    
    .toast-moods{
        &__title{
            font-family: $fontFamilyMonospace;
            font-size: 1.5rem;
            color: $colorGreen;
        }
        &__text{
            font-family: $fontFamilyMonospace;
            font-size: 0.875rem;
            text-transform: uppercase;   
        }
        &__ruleName{
            color: $colorBlue;
            font-size: 1.5rem;
            font-weight: 500;
        }
        &__btn{
            background-color: $colorGreen;
            color: $colorWhite;
            border: none;
            &:hover{
                background-color: $colorWhite;
                color: $colorGreen;
            }
        }
        &__container{
            &__img{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &__img{
            width: 7.5rem;
        }
    }
    
}
 // De 450px a 750px
@media screen and (min-width: 28.125rem) and (max-width: 46.875rem) {
    .section-mood{
        &__container{
            &__title{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 12.5rem;
            }
            &__title_instruction{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 12.5rem;
                
            }
            &__img{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &__title{
            font-family: $fontFamilyVt323;
            font-size: 1.875rem;
            color: $colorWhite;
        }
        &__title_instruction{
            font-family: $fontFamilyVt323;
            font-size: 1.25rem;
            color: $colorWhite;
        }
    }
    
    .moods{
        &__container{
            &__card{
                width: 16.25rem;
                height: 18.75rem;
                margin-left: 0px;
                margin-right: 0px;
                &:hover{
                    background-color: $colorYellow;
                }
            }
            &__image{
                width: 100%;
                height: 12.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__name{
                width: 100%;
                height: 1.875rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__nameEnglish{
                width: 100%;
                height: 1.875rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    
        &__name{
            font-family: $fontFamilyMonospace;
            font-size: 1.625rem;
            color: $colorBlue;
            &:hover{
                color: $colorGreen;
            }
        }
        &__nameEnglish{
            font-family: $fontFamilyMonospace;
            font-size: 1.625rem;
            color: $colorGreen;
            &:hover{
                color: $colorBlue;
            }
        }
        &__image{
            width: 9.375rem;
            height: 9.375rem;
        }
        
    }
    
    .detailMoodsById{
        &__container{
            &__card{
                display: flex;
                align-items: center;
                justify-content: center;
                //height: 500px;
                width: 100%;
            }
            &__row{
                flex-direction: column;
            }
           &__image{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    background-color: $colorGreen;
                }
           }
            &__name{
                //width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
                background-color:  $colorWhite;
                
            }
            &__description{
                margin-left: 1.25rem;
                width: 95%;
                margin-top: 0.9375rem;
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
            }
            &__phrase1{
                width: 100%;
                margin-top: 0.9375rem;
                //height: 100px;
             
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
            }
            &__phrase2{
                width: 100%;
                margin-top: 0.9375rem;
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
            }
            &__link{
                width: 100%;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &__image{
            width: 12.5rem;
            height: 12.5rem;
        }
        &__content{
            //flex: 0 0 50%; 
            display: flex;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            //flex-direction: column;
        }
        &__name{
            font-family: $fontFamilyVt323;
            font-size: 3.125rem;
            font-weight: 500;
            color: $colorGreen;
        }
        &__description{
            font-family: $fontFamilyMonospace;
            font-size: 1rem;
        }
        &__phrase1{
            font-family: $fontFamilyMonospace;
            font-size: 0.875rem;
            color: $colorGreen;
        }
        &__phrase2{
            font-family: $fontFamilyMonospace;
            font-size: 0.875rem;
            color: $colorBlue;
        }
        &__link{
            font-family: $fontFamilyVt323;
            font-size: 1.875rem;
            font-weight: 500;
            text-decoration: none;
            border: 1px solid $colorGreen;       
        }
        &__textLink{
            background-color: $colorWhite;
            color: $colorGreen;
            width: 6.25rem;
            height: 3.125rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            text-transform: uppercase;
                &:hover{
                    background-color: $colorGreen;
                    color: $colorWhite;
            }
        }
    }
    
    .toast-moods{
        &__title{
            font-family: $fontFamilyMonospace;
            font-size: 1.5rem;
            color: $colorGreen;
        }
        &__text{
            font-family: $fontFamilyMonospace;
            font-size: 0.875rem;
            text-transform: uppercase;   
        }
        &__ruleName{
            color: $colorBlue;
            font-size: 1.5rem;
            font-weight: 500;
        }
        &__btn{
            background-color: $colorGreen;
            color: $colorWhite;
            border: none;
            &:hover{
                background-color: $colorWhite;
                color: $colorGreen;
            }
        }
        &__container{
            &__img{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &__img{
            width: 7.5rem;
        }
    }
    
}
// De 750px a 1000px
@media screen and (min-width: 46.875rem) and (max-width: 62.5rem) {
    .section-mood{
        &__container{
            &__title{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 12.5rem;
            }
            &__title_instruction{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 12.5rem;
            }
            &__img{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &__title{
            font-family: $fontFamilyVt323;
            font-size: 1.875rem;
            color: $colorWhite;
        }
        &__title_instruction{
            font-family: $fontFamilyVt323;
            font-size: 1.25rem;
            color: $colorWhite;
        }
    }
    
    .moods{
        &__container{
            &__card{
                width: 12.5rem;
                height: 18.75rem;
                &:hover{
                    background-color: $colorYellow;
                }
            }
            &__image{
                width: 100%;
                height: 12.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__name{
                width: 100%;
                height: 1.875rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__nameEnglish{
                width: 100%;
                height: 1.875rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    
        &__name{
            font-family: $fontFamilyMonospace;
            font-size: 1.625rem;
            color: $colorBlue;
            &:hover{
                color: $colorGreen;
            }
        }
        &__nameEnglish{
            font-family: $fontFamilyMonospace;
            font-size: 1.625rem;
            color: $colorGreen;
            &:hover{
                color: $colorBlue;
            }
        }
        &__image{
            width: 9.375rem;
            height: 9.375rem;
        }
        
    }
    
    .detailMoodsById{
        &__container{
            &__card{
                display: flex;
                align-items: center;
                justify-content: center;
                //height: 500px;
                width: 100%;
            }
            &__row{
                flex-direction: column;
            }
           &__image{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    background-color: $colorGreen;
                }
           }
            &__name{
                //width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
                background-color:  $colorWhite;
                
            }
            &__description{
                margin-left: 1.25rem;
                width: 95%;
                margin-top: 0.9375rem;
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
            }
            &__phrase1{
                width: 100%;
                margin-top: 0.9375rem;
                //height: 100px;
             
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
            }
            &__phrase2{
                width: 100%;
                margin-top: 0.9375rem;
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
            }
            &__link{
                width: 100%;
                height: 9.375rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &__image{
            width: 12.5rem;
            height: 12.5rem;
        }
        &__content{
            //flex: 0 0 50%; 
            display: flex;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            //flex-direction: column;
        }
        &__name{
            font-family: $fontFamilyVt323;
            font-size: 3.125rem;
            font-weight: 500;
            color: $colorGreen;
        }
        &__description{
            font-family: $fontFamilyMonospace;
            font-size: 1rem;
        }
        &__phrase1{
            font-family: $fontFamilyMonospace;
            font-size: 0.875rem;
            color: $colorGreen;
        }
        &__phrase2{
            font-family: $fontFamilyMonospace;
            font-size: 0.875rem;
            color: $colorBlue;
        }
        &__link{
            font-family: $fontFamilyVt323;
            font-size: 1.875rem;
            font-weight: 500;
            text-decoration: none;
            border: 1px solid $colorGreen;       
        }
        &__textLink{
            background-color: $colorWhite;
            color: $colorGreen;
            width: 6.25rem;
            height: 3.125rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            text-transform: uppercase;
                &:hover{
                    background-color: $colorGreen;
                    color: $colorWhite;
            }
        }
    }
    
    .toast-moods{
        &__title{
            font-family: $fontFamilyMonospace;
            font-size: 1.5rem;
            color: $colorGreen;
        }
        &__text{
            font-family: $fontFamilyMonospace;
            font-size: 0.875rem;
            text-transform: uppercase;   
        }
        &__ruleName{
            color: $colorBlue;
            font-size: 1.5rem;
            font-weight: 500;
        }
        &__btn{
            background-color: $colorGreen;
            color: $colorWhite;
            border: none;
            &:hover{
                background-color: $colorWhite;
                color: $colorGreen;
            }
        }
        &__container{
            &__img{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &__img{
            width: 7.5rem;
        }
    }
    
}