.videos{
    
    &__container_youTube{
        width: 28.75rem;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $colorBlue;
        border: 3px solid $colorWhite;
        background: $gradiente-azul;
    }
    &__container_image_mario{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &__image_mario{
        width: 9.375rem;
        
    }
    
    &__container_letters{
        height: 12.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25rem;
    }
    &__text_mario{
        font-family:  $fontFamilyMonospace;
        font-size: 0.875rem;
        color: $colorWhite;
        font-weight: bold;
    }
    &__letters{
        font-family: $fontFamilyVt323;
        font-size: 3.75rem;
        color: $colorBlack;
        animation: textAnimation 1s infinite; 
    }
    &__text{
        font-family: $fontFamilyMonospace;
        font-size: 2.5rem;
        color: $colorBlack;
    }
    &__container_image{
        width: 6.25rem;
    }
    &__image{
        width: 6.25rem;
    }
    &__container_word_image{
        background: $gradiente-amarillo;
        width: 100%;
    }
    @keyframes textAnimation {
        0%,100%{
            font-size: 5rem;
            color: $colorWhite;
        }
        50%{
            font-size: 6.25rem;
            color: $colorGreen;
        }
    }
    
}
.videoName{
    &__container{
        width: 80%;
        height: 9.375rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__name{
        font-family:  $fontFamilyMonospace;
        font-size: 1.25rem;
        color: $colorWhite;
        font-weight: bold;
    }
    &__image_luma{
        width: 2.5rem;
    }
}
.videoById{
    &__container_title{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 18.75rem;
    }
    &__title{
        font-family: $fontFamilyVt323;
        color: $colorWhite;
        font-size: 2.5rem;
    }
}
// De 350px a 450px
@media screen and (min-width: 21.875rem) and (max-width: 28.125rem) {
    .videos{
        &__youTube{
            width: 18.75rem;
        }
        &__container_youTube{
             width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            align-items: center;
            flex-direction:row;
        }
        &__container_image_mario{
            display: flex;
            justify-content: flex-end;
        }
        &__image_mario{
            width: 6.25rem; 
        }
        &__container_btn{
            display: center;
            justify-content: center;
            align-items: center;
        }
        &__container_letters{
            height: 12.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 21.875rem;
        }
        &__text_mario{
            font-family:  $fontFamilyMonospace;
            font-size: 0.75rem;
            color: $colorBlack;
            font-weight: bold;
        }
        &__letters{
            font-family: $fontFamilyVt323;
            font-size: 3.75rem;
            color: $colorBlack;
            animation: textAnimation 1s infinite; 
        }
        &__text{
            font-family: $fontFamilyMonospace;
            font-size: 2.5rem;
            color: $colorBlack;
        }
        &__container_image{
            width: 6.25rem;
        }
        &__image{
            width: 6.25rem;
        }
        &__container_word_image{
            background-color: $colorYellow;
            width: 100%;
        }
        @keyframes textAnimation {
            0%,100%{
                font-size: 40px;
                color: $colorRed;
            }
            50%{
                font-size: 5rem;
                color: $colorGreen;
            }
        }
        
    }
    .videoName{
        &__container{
            width: 90%;
            height: 9.375rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__name{
            font-family:  $fontFamilyMonospace;
            font-size: 1.25rem;
            color: $colorWhite;
            font-weight: bold;
        }
        &__image_luma{
            width: 2.5rem;
        }
    }
    .videoById{
        &__container_title{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 11.75rem;
        }
        &__title{
            font-family: $fontFamilyVt323;
            color: $colorWhite;
            font-size: 1.5625rem;
        }
    }
}
  // De 450px a 750px
@media screen and (min-width: 28.125rem) and (max-width: 46.875rem) {
    .videos{
        
        &__container_youTube{
            //width: 350px;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__container_image_mario{
            //width: 100%;
            display: flex;
            justify-content: flex-end;
        }
        &__container_reactPlayer{
            width: 21.875rem;
        }
        &__image_mario{
            width: 6.25rem; 
        }
        &__container_btn{
            display: center;
            justify-content: center;
            align-items: center;
        }
        &__container_letters{
            height: 12.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 21.875rem;
        }
        &__text_mario{
            font-family:  $fontFamilyMonospace;
            font-size: 0.9375rem;
            color: $colorBlack;
            font-weight: bold;
        }
        &__letters{
            font-family: $fontFamilyVt323;
            font-size: 3.75rem;
            color: $colorBlack;
            animation: textAnimation 1s infinite; 
        }
        &__text{
            font-family: $fontFamilyMonospace;
            font-size: 2.5rem;
            color: $colorBlack;
        }
        &__container_image{
            width: 6.25rem;
        }
        &__image{
            width: 6.25rem;
        }
        &__container_word_image{
            background-color: $colorYellow;
            width: 100%;
        }
        @keyframes textAnimation {
            0%,100%{
                font-size: 2.5rem;
                color: $colorRed;
            }
            50%{
                font-size: 5rem;
                color: $colorGreen;
            }
        }
        
    }
    .videoName{
        &__container{
            width: 90%;
            height: 9.375rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__name{
            font-family:  $fontFamilyMonospace;
            font-size: 1.25rem;
            color: $colorWhite;
            font-weight: bold;
        }
        &__image_luma{
            width: 2.5rem;
        }
    }
    .videoById{
        &__container_title{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 18.75rem;
        }
        &__title{
            font-family: $fontFamilyVt323;
            color: $colorWhite;
            font-size: 2.5rem;
        }
    }
}
// De 750px a 1000px
@media screen and (min-width: 46.875rem) and (max-width: 62.5rem) {
    .videos{
        
        &__container_youTube{
            width: 21.875rem;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__container_image_mario{
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
        &__container_reactPlayer{
            width: 21.875rem;
        }
        &__image_mario{
            width: 6.25rem; 
        }
        &__container_btn{
            display: center;
            justify-content: center;
            align-items: center;
        }
        &__container_letters{
            height: 12.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 21.875rem;
        }
        &__text_mario{
            font-family:  $fontFamilyMonospace;
            font-size: 0.9375rem;
            color: $colorBlack;
            font-weight: bold;
        }
        &__letters{
            font-family: $fontFamilyVt323;
            font-size: 3.75rem;
            color: $colorBlack;
            animation: textAnimation 1s infinite; 
        }
        &__text{
            font-family: $fontFamilyMonospace;
            font-size: 2.5rem;
            color: $colorBlack;
        }
        &__container_image{
            width: 6.25rem;
        }
        &__image{
            width: 6.25rem;
        }
        &__container_word_image{
            background-color: $colorYellow;
            width: 100%;
        }
        @keyframes textAnimation {
            0%,100%{
                font-size: 2.5rem;
                color: $colorRed;
            }
            50%{
                font-size: 5rem;
                color: $colorGreen;
            }
        }
        
    }
    .videoName{
        &__container{
            width: 90%;
            height: 9.375rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__name{
            font-family:  $fontFamilyMonospace;
            font-size: 1.25rem;
            color: $colorWhite;
            font-weight: bold;
        }
        &__image_luma{
            width: 2.5rem;
        }
    }
    .videoById{
        &__container_title{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 18.75rem;
        }
        &__title{
            font-family: $fontFamilyVt323;
            color: $colorWhite;
            font-size: 2.5rem;
        }
    }
}