$colorFondo: white;
$colorTexto: #1A1A1A;
$colorRojo: #e52521;
$colorAmarillo:  #fbd000;
$colorCeleste:  #049cd8;
$colorVerde: #43b047;
$colorAzul: #1D5D9B;

$colorFondoNavbar: #cacaca;
$colorRosado: #ff0099;