$colorWhite: white;
$colorBlack: #1A1A1A;
$colorRed: #e52521;
$colorYellow:  #fbd000;
$colorSkyBlue:  #049cd8;
$colorGreen: #43b047;
$colorBlue: #1D5D9B;

$colorFondoNavbar: #cacaca;
$colorRosado: #ff0099;

$fontFamilyVt323: 'VT323', monospace;
$fontFamilyMonospace: monospace